.VideoControls {

	.twitter {
		display: block;
		background: #3a3a3a;
		border-radius: 5px;
		font: bold italic 15px "Helvetica" italic;
		text-align: center;
		margin: 10px 0 0;
		padding: 15px 0;
		color: #5a5a5a;
		text-decoration: none;
		transition: 0.3s ease;
	}

	.twitter:hover {
		background: #414141;
		color: #4099ff;
	}
}
