input {
	appearance: none !important;
	background: #777;
	width: 100%;
	border-radius: 3px;
	height: 20px;
}

input::-webkit-slider-thumb {
	appearance: none !important;
	width: 32px;
	height: 20px;
	background: #111;
	border-radius: 3px;
}
