* {
	box-sizing: border-box;
}

body {
	display: box;
	background-color: darkgrey;
}

.PrimaryLayout {
	background-color: darkgrey;
	min-width: 768px;

	.content {
		padding-top: 2%;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
